.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background-image: var(--background-image);
    background-color: var(--background-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
}

.header_container__tittle {
    margin-top: 16%;
    font-size: 2.6em;
    color: aquamarine;
    font-family: "Kdam Thmor pro", sans-serif;
    font-weight: 600;
    text-align: center;
    animation: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-name: change_tittle;
}

@keyframes change_tittle {
    from {
        text-shadow: 0px 0px 3px ;
        color: aqua;
    }
  
    to {
      color: aquamarine;
      text-shadow: aqua 0px 0px 10px;
    }  
}


.header_container__image {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 40%;
    padding: 1.5%;
    background-color: var(--background-blue);
    border-radius: 10px;
    justify-content: center;
    animation: background_shine 3s alternate;
}

@keyframes background_shine {
    from {
        background-color: var(--background-blue);
    }

    to {
        background-color: aqua;
        box-shadow: aqua 0px 0px 10px;
    }
}

.header_container__legend_box {
    display: flex;
    color: aquamarine;
    background-color: var(--background-container-blue);
    height: 12%;
    width: 35%;
    padding: 5%;
    border-radius: 10px;

    font-family: "Kdam Thmor pro";
    align-items: center;
    text-align: center;
}

.skills_link_container {
    border-radius: 15px;
}

.skills_link {
    border-radius: 10px;
    padding: 10%;
    transition: 1s;
    animation: skills_link 0.7s infinite alternate;
}

@keyframes skills_link {
    from {
        color: aqua;
    }

    to {
        color: aliceblue;
    }
}
