#page_navigation {
    background: fixed;
    background: linear-gradient(var(--background-color), #00001800);
    display: flex;
    font-family: var(--font-family-default);
    position: fixed;
    position: -webkit-sticky;
    padding-top: 3%;
    padding-bottom: 2%;
    justify-content: space-around;
    text-align: center;
    width: 100vw;
    font-size: 1.3em ;
}

#page_navigation a {
    text-decoration: none;
    color: var(--aqua-font-color);
    transition: 1s;
    
}

#page_navigation a:hover {
    transform: scale(1.1);
}


#link_one, #link_two, #link_three, #link_four {
    opacity: 0%;
}

#link_one {
    animation: link_animation 1s forwards 2.5s;
}

#link_two {
    animation: link_animation 1s forwards 3s;
}

#link_three {
    animation: link_animation 1s forwards 3.5s;
}

#link_four {
    animation: link_animation 1s forwards 4s;
}


@keyframes link_animation {
    from {
        display: none;
    }

    50% {
        text-shadow: var(--aqua-font-color) 0px 0px 30px;
        scale: 1.01;
    }

    to {
        opacity: 100%;
    }
}