#who_i_am_container {
    color: var(--white-font-color);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50vw;
    scale: 0.9;
    font-size: 1.1em;
}

#who_i_am_container--tittle {
    font-size: 2em;
    margin-bottom: 2%;
    text-align: left;
    padding-left: 20%;
    padding-top: 3%;
}

#who_i_am_container--text {
    text-align: center;
}


#resume_container {
    background: transparent;
    color: var(--aqua-font-color);
    display: flex;
    justify-content: space-between;
}

.resume_container--box {
    border-radius: 10%;
    scale: 0.7;
    font-size: 1.3em;
    text-align: center;
    transition: 1s;
}

.resume_container--box:hover {
    background-color: aqua;
    color: var(--box-default-color);
    scale: 0.9;
}