

:root {
   --default-background: #001135;
   --default-font-family: 'Kdam Thmor Pro', sans-serif;
   --default-font-color: #eeffff;
}

html {
    height: auto;
    width: auto;
}

.index {
    background: var(--default-background);
    font-family: var(--default-font-family);
   color: var(--default-font-color);
}

.box {
    position: relative;
    display: inline-block;
    background-color: var(--default-font-color);
}
.default-text {
    font-family: var(--default-font-family);
    font: 400;
    color: var(--default-font-color);
}