.index__head {
    position: absolute;
    display: grid;
    padding: 5%;
    grid-template-rows: 70%;
    width: 100vw;
    height: 100vh;
}

.box {
    height: 40vh;
    width: 40vh;
    padding-left: 10%;
    border-radius: 20px;
}

.box__profile {
    display: block;
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
}

.index__title {
    display: flexbox;
    font-size: 30px;
    margin:10% 0% 0% 17%;
}

.index__legend_box {
    position: relative;
    margin-top: 5%;
    display: inline-block;
    background-color: rgb(0, 80, 80);
}