.index__head {
    position: absolute;
    display: grid;
    padding: 20%;
    grid-template-rows:fit-content(20%);
    width: 100vw;
    height: 100vh;
}

.box {
    height: 40vh;
    width: 30vh;
    padding: 10%;
    border-radius: 20px;
}

.box__profile {
    position: relative;
    height: 100%;
    width: 100%;
}

.index__title {
    display: inline-block;
    font-size: 30px;
    margin:10% 0% 0% 10%;
}