.header_menu {
    display: flex;
    position: fixed;
    background-color: var(--blue-default);
    width: 70vw;
    height: 100vh;
    z-index: 4;
    left: -100%;
    flex-direction: column;
    justify-content: space-around;
    transition: 1.5s;
}

.header_menu--navigation {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    gap: 8px;
}


.header_menu--navigation a 
{text-decoration: none;
color: aliceblue;}

.header_menu button {
    background-color: var(--blue-default);
}