#front_page {
    background: var(--background-color);
    font-family: var(--text-font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 15%;
    background-image: url('../../imgs/capa.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    text-align: center;
}

.front_page_title {
    color: white;
    font-size: 1.8em;
    margin-top: 15%;
    text-decoration: underline;
}

.front_page_legend{color: var(--aqua-default);
margin-bottom: 30%;}