:root {
    --background-image: url('../background-diagonal-bars.png');

    --font-family-default: 'Kdam Thmor Pro', sans-serif;
    --font-color-default: rgb(134, 255, 235);

    --background-blue: #000028;
    --background-container-blue: #000045;
} 


.contact_container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30%;
    column-gap: 5%;
    justify-content: center;
    position: relative;
    color: #32ffff;
    margin-bottom: 14%
}

.contact_item {
    scale: 140%;
    transition: 1s;
    margin-bottom: 14%;
}

.contact_item:hover {
    box-shadow: #00ffff 0px 0px 5px 0px;
}
