@import url(/static/css/base.css);



footer {
    color: var(--font-color-default);
    background-color: black;
    padding: 0% 10% 10% 10%;
    font-family: var(--font-family-default);
    text-align: center;
}

.footer_light {
    display: inline-block;
    position: absolute;
    height: 20vh;
    width: 50vh;
    background-color: black;
    background-image: linear-gradient(to top rgba(0, 255, 255) black 50%);
}


