.main_navigation {
    position: relative;
    display: grid;
    column-gap: 10%;
    row-gap: 5%;
    margin-bottom: 20%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main_navigation a {
    display: inline-block;
    font-family: "Kdam Thmor pro", sans-serif;
    text-decoration: none;
    color: aqua;
    margin-top: 1.5%;
    padding: 3%;
    background-color: var(--background-conteiner-blue);
    transition: 1.5s;
}

.main_navigation a:hover {
    box-shadow: rgba(0, 255, 255, 0.5) 5px 5px 15px;
    scale: 1.3;
    background-color: aqua;
    color: var(--background-conteiner-blue);
}