@media screen and (max-width:1920px){
    #skills_and_projects{
        margin-top: 25%;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-image: url(../../../imgs/capa-port-darkhole.jpg);
        background-size: contain;
        background-clip: border-box;
        background-repeat: no-repeat;
        background-position: center center;
        background-clip: padding-box;
    }

    #skills_and_projects h2 {
        margin-bottom: 10%;
    }



    .skills_scroll_bar {
        display: flex;
        margin-top: 5%;
        padding: 0% 0%;
        height: 40%;
        margin: 5% 0%;
        column-gap: 5%;
        flex-wrap: nowrap;
    }

    .skill_box {
        text-align: center;
        height: 90%;
        width: 40%;
        padding: 5%;
        row-gap: 10%;
        border-radius: 10px;
    }

    .skills_box-projects {
        background-color: var(--grey-default);
    }

    .skills_box-projects p {        
        color: black;
    }

    .skills_box-projects h3 {
        color: black;
    }

    .skills_box-projects {
        color: aqua;
    }

    .skills_image {
        height: 30%px;
        width: 30%;
        color: var(--blue-default)
    }

    .skills_box-skills {
        background-color: transparent;
    }
}

@media screen and (max-width:420px){
    #skills_and_projects{
        margin-top: 75%;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    #skills_and_projects h2 {
        margin-bottom: 0%;
    }

    .skills_scroll_bar {
        display: flex;
        margin-top: 5%;
        padding: 0% 5%;
        height: 30%;
        margin: 10% 0%;
        flex-wrap: wrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-margin-inline-start: initial;
    }
    
    .skills_scroll_bar p {
        display: none;
    }

    .skill_box {
        text-align: center;
        height: 70%;
        width: 40%;
        padding: 5%;
        row-gap: 10%;
        border-radius: 10px;
    }

    .skills_box-projects {
        background-color: var(--grey-default);
    }


    .skills_box-projects {
        color: aqua;
    }

    .skills_image {
        height: 50%px;
        width: 50%;
        color: var(--blue-default)
    }

    .skills_box-skills {
        background-color: var(--blue-default);
    }
}
