.profile_head__photo {
    align-content: center;
    position: relative;
    display: block;
    background-color: whitesmoke;
    height: 50%;
    width: 60%;
    border: whitesmoke solid 4px;
    border-radius: 20px;
    padding: 1.5%;
    margin: 10% 18%;
    opacity: 100%;
    transition-duration: 2s;
}

.profile_head__photo:active {
    opacity: 0%;
}

.profile_head__photo--profile {
    position: static;
    display: inline-block;
    width: 100%;
    height: 100%;
}