:root {
    --background-color: #000018;
    --text-font: 'Kdam Thmor Pro', sans-serif;
    --aqua-default: #59E1FF;
    --blue-default: #151A3F;
}

.menu_button {
    background-image: url('../imgs/menu.png');
    background-color: var(--background-color);
    display: inline-block;
    position: fixed;
    height: 7%;
    margin-top: 4%;
    margin-left: 4%;
    width: 20%;
    background-position: center center;
    border: none;
}