
@media screen and (max-width:1920px) {
    footer{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 25vh;
        gap: 20px;
    }
}

@media screen and (max-width:420px){
    footer{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 25vh;
        gap: 20px;
    }

    .social_medias {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}