.footer_container {
    margin-top: 20%;
    position: relative;
    background: linear-gradient(180deg, var(--background-default-color), 40%, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.footer_container .contact_box {
    position: relative;
    justify-content: space-evenly;
    margin-top: 10%;
}

.footer_container p {
    padding: 0% 10%;
}

#footer_paraphrase {
    margin-top: 10%;
    font-size: 1.4em;
}

#footer_credits {
    margin-top: 10%;
    margin-bottom: 10%;
}



@media screen and (min-width:1280px) {
    .footer_container {
        background: linear-gradient(180deg, var(--background-default-color), 70%, black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .footer_container p {
        padding: 0% 10%;
    }
    
    #footer_paraphrase {
        margin-top: 10%;
        font-size: 1.4em;
    }
    
    #footer_credits {
        margin-top: 20%;
        margin-bottom: 10%;
    }
}

