:root {
    --font-default: 'Kdam Thmor', sans-serif;
    --aqua-default: #00D1FF;
    --background-default-color: #010033;
    --font-color-default: #8AEAFF;
    --box-background: #08005F;
}

body {
    font-family: var(--font-default);
    color: var(--font-color-default);
    background-color: var(--background-default-color);
}

.header_container {
    background-color: var(--background-default-color) ;
    background-image: url(Untitled.png);
    background-repeat: repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
}

.header_container h1 {
    color: var(--font-color-default);
    margin: 10% 0%;
    font-size: 2.5em;
    font-weight: 600;
    transition: 2s;
    animation: title_bright 3s alternate none 1 ;
}


@keyframes title_bright {
    from{
        text-shadow: #00D1FF 0px 0px 0px;
    }

    50% {
        color: var(--font-color-default);
        text-shadow: #8AEAFF 0px 0px 50px;
        scale: 1.2;
    }

    to {
        text-shadow: #00D1FF 0px 0px 0px;
    }
}

.header_container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

/* ALTERAR ESSA PARTE DPS quando tivermos imagens */
.header_container-box img {
    background-color: var(--aqua-default);
    width: 217px;
    height: 291px;
    left: 72px;
    top: 105px;
    
    background: #00D1FF;
    border-radius: 15px;
    transition: ease-in-out;
    animation: img_shine 3s alternate 1s 1 ;
}

@keyframes img_shine {
    from{
        box-shadow: #00D1FF 0px 0px 0px;
    }

    50% {
        color: var(--font-color-default);
        box-shadow: #8AEAFF 0px 0px 50px;
    }

    to {
        box-shadow: #00D1FF 0px 0px 0px;
    }
}

.contact_box {
    display: flex;
    color: var(--font-color-default);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10%;
    text-decoration: none;
}

.legend_container-box {
    align-items: center;
    font-size: 1.2em;
    background-color: var(--box-background);
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 16% 10% 0% 10%;
    padding: 7%;
    border-radius: 15px;
    text-align: center;
}

.shine {
    right: 100%;
    bottom: 0%;
    rotate: 10deg;
    align-self: inherit;
    position: absolute;
    height: 15%;
    border-radius: 0px 15px 0px 25px;
    width: 5%;
    background-color: var(--font-color-default);
    opacity: 00%;
    box-shadow: var(--font-color-default) 0px 0px 20px;
    transition: ease-in;
    animation: shine_transition 0.5s alternate 2s 1;
    z-index: 2;
}

@keyframes shine_transition {
    from {
        opacity: 00%;
        right: 100%;
    }



    50% {
        opacity: 100%;
        right: 35%;
        box-shadow: var(--font-color-default) 0px 0px 50px;
        width: 10%;
    }


    to {
        opacity: 00%;
        right: -100%;
        box-shadow: var(--font-color-default) 0px 0px 0px;
    }
}