.projects_box {
    background: linear-gradient(225deg, var(--background-default-color), 50%, black);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: 100vh;
}


.project_box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project_box-item-box {
    background-color: var(--aqua-default);
    border-radius: 15px;
    transition: 1s;
}

.project_box-item-box:active {
    background-color: blue;
}

.list_of_profits {
    display: flex;
    flex-direction: column;
    list-style: circle;
}

.project_description_box {
    padding: 10%;
}

.project_description_box h2 {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 5%;
}

#jason_description-legend {
    margin-bottom: 3%;
    flex-direction: column;
    transition: 2s;
}