<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <meta name="keywords" content="Jason Universe, bot, chatbot, desenvolvedor, automação, fullstack, whattaspp"> 
    <meta name="description" content="Desenvolvimento de bots em diversos canais">
    <meta name="robots" content="follow, index">
    <meta name="google-site-verification" content="OJz3tuGJcLAm3NjoDAL44z0oayDKFQLoIjiLckspRL0" />


    <title>Jason Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/jason_bot/base.css">
</head>
<body>

    <header class="p-3">
        <div id="jasonLogo"><img  class="container-sm" src="../static/imgs/jason-comercial-face.png" alt="jason logo"></div>
        <h1>Hello, I'am Jason !</h1>
        <br>
        <legend class="p-3">Bem vindo a pagina de desmontração do <b>Jason Bot</b>.</legend>
            <h2>O que é ?</h2>
            <p class="p-3 container-smx">
                Jason Bot é um bot criado para capturar dados e retornanálos da forma que mais preferir.
                A primeira aplicação dele foi no Clara Resorts, onde é usado até hoje. O foco atual,
                é extender a capacidade do Jason, tornando-o mais flexível e amplo, ao mesmo tempo que
                fique amigável e simples de lidar.
            </p>
            <h2>Como experimentar ?</h2>
            <div class="p-3 container-sm">
                <p>
                    Para acessar os canais de conversas com o Bot, você precisa seguir o passo de acordo com as instruções de cada canal.
                </p>
                <p>
                    Criamos alguns portais de cadastro para você poder acessar e colocar quaisqueres dados que quiser.
                </p>
            </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Whatsapp
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card bg-color-green" style="width: 18rem;">
                    <img src="../static/imgs/jason-wpp.png" class="card-img-top" alt="jason whattsapp logo">
                    <div class="card-body">
                        <h5 class="card-title">Whatsapp</h5>
                        <p class="card-text">Você precisa somente do WhattsApp e do seu número.</p>
                        <p>Envie : <strong>join rush-problem</strong> para <strong>+14155238886</strong></p>
                    </div> 
                  </div>
              </div>

    </header>
    
    <main >
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>